/*Стиили для всего сайта*/
* 
{margin: 0;
padding: 0;
box-sizing: border-box;} /*говорит браузеру учитывать любые границы и внутренние отступы в значениях, которые вы указываете в ширине и высоте элемента.*/
.sky{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: url(img/sky.jpg);
    background-size: cover;
    overflow-x: hidden;
}
.road{
    width: 500%;
    height: 200px;
    display: block;
    background: url(img/road.jpg);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-repeat: repeat-x;
    animation: highway 5s linear infinite;
}
@keyframes highway {
       100%{left: -3400px;}
}
.sity{
    width: 2000px;
    height: 200px;
    display: block;
    background: url(img/city.png);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 200px;
    z-index: 1;
    background-repeat: repeat-x;
    animation: city 20s linear infinite;
}
@keyframes city {
    100%{left: -1400px;}
}
.car{
    width: 400px;
    position: absolute;
    left: 50%;
    bottom: 100px;
    transform: translateX(-50%);
    z-index: 2;
}
.car img{
    width: 100%;
    animation: car 1s linear infinite;
}
@keyframes car{
    100%{
        transform: translateY(-1px);
    }
    50%{
        transform: translateY(1px);
    }
    0%{
        transform: translateY(-1px);
    }
}
.wheel {
    display: flex;
    justify-content: space-around;
    top: 82%;
    z-index: 100;
    position: absolute;
    left: 52%;
}
.sky.wheel{
    position: absolute;
    bottom: 171px;
    transform: translateX(-50%);
    z-index: 2;
}
.wheel img{
    margin-right: 140%;
    width: 65px;
    height: 65px;
    animation: wheel 1s linear infinite;
}
@keyframes wheel {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}